<html>
  <head>
    <title>First Flask App</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">My Awesome Capstone Project</h1>
        <p>
          Current time: {{time_info}}
        </p>
        <p>
          Some cool content will go here
        </p>
        <p>
          <form action="/get_results" method="post">
            Input a number: <input type="text" name="number">
            <br>
            User: <select name="user">
              <option value="2206066431492096327">Nicole Andrews</option>
              <option value="2200417693859840681">Christy Faw</option>
              <option value="2373608382922752189">Vladan Stankovic</option>
              <option value="1670504276557824171">Elizabeth Giordano</option>
            </select>
            <br>
            LinkedIn URL: <input type="url" name="linkedin_url">
            <br>
            Restaurant: 
            <select name="restaurant">
              {% for restaurant in restaurants %}
                <option value="{{ restaurant }}">{{ restaurant }}</option>
              {% endfor %}
            </select>
            <br>
            <input type="submit" class="btn btn-primary btn-lg" value="A button">
          </form>
        </p>
      </div>
    </div>
  </body>
</html>
